body {
  background: #ccc;
}
.wrap {
  max-width: 1280px;
  margin: auto;
  overflow: hidden;
  border: 5px solid #000;
  background: #efefef;
  border-spacing: 10px;
  position: relative;
  display: flex;
}
.col1,
.col2 {
  padding: 10px;
  text-align: justify;
  width: calc(50% + 220px);
}
p {
  padding: 5px;
  margin: 0 0 1em;
}
.col1:before,
.col2:before {
  float: right;
  width: 1px;
  height: 90px;
  content: " ";
}
.col2:before {
  float: left;
}
.img {
  float: right;
  clear: right;
  margin: 20px 0 20px 20px;
  border-radius: 50%;
  border: 10px solid #fff;
  shape-outside: circle(50%);
}
.col2 img {
  float: left;
  margin: 20px 20px 20px 0;
  clear: left;
}
.col1 .inner {
  margin-right: 220px;
}
.col2 .inner {
  margin-left: 220px;
}
.col2 {
  margin-left: -440px;
}

@media screen and (max-width: 800px) {
  .wrap {
    display: block;
  }
  .col2:before {
    display: none;
  }
  .col1,
  .col2,
  .col1 .inner,
  .col2 .inner {
    width: auto;
    margin: 0;
  }
  .col2 .img {
    display: none;
  }
  .img {
    width: 50%;
    height: auto;
    min-width: 100px;
  }
}

@media screen and (max-width: 480px) {
  .col1:before {
    display: none;
  }
}

.main-content-container {
  max-width: 940px;
  margin: 0 auto;
  padding: 30px;
  background: teal;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.container {
  height: 80px;
  margin: 10px 1em;
  padding-left: 10px;
  padding-right: 10px;
/*   background: black; */
  flex: 0 1 20%;
}

.container:nth-child(3n+1) {
  background: purple;
}

.container:nth-child(3n-1) {
  background: purple;
}

.container:nth-child(3n-1) {
  background: purple;
}

@media (max-width: 500px) {
  .main-content-container {
    padding: 8px;
  }
  .container {
    flex: 0 1 15%;
  }
}

.image-caption {
  background: grey;
  margin: 0;
  text-align: center;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

img {
    max-width: 100%;
    margin: 0;
body/}
